/**
		LOADER
					**/
.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #efefef;
	z-index: 99999;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13vw;
	font-style: italic;
	text-decoration: underline;
}
.loader.in {
	transform: translateY(0vh);
}
.loader.in.active {
	transform: translateY(200vh);
	transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.loader.out {
	transform: translateY(-200vh);
}
.loader.out.active {
	transform: translateY(0vh);
	transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
/**
	common settings 
					**/
html, body {
	padding:0;
	margin:0;
}
body {
	font-family: Avenir, "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "Yu Gothic Bold", "游ゴシック Bold", YuGothic, "游ゴシック体", "メイリオ", "Meiryo", sans-serif;
	font-weight: bold!important;
	color: #313743;
}
h1 {
	font-size: 40px;
	display: inline-block;
}
h2 {
	font-size: 30px;
}
@media (max-width: 767px) {
	h2 {
		font-size: 40px;
	}
}
p {
	font-size: 20px;
	letter-spacing: 0em;
	line-height: 1.5em;
	text-align: justify;
}
@media (max-width: 575px) {
	p {
		letter-spacing: 0.03em;
		line-height: 1.7em;
		text-align: justify;
	}
}
a {
	text-decoration: none;
	color: initial;
}
/** container **/
.container {
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 30px;
}
@media (min-width: 576px) {
	.container {
		padding: 0 30px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
.clear,
.column-container {
	clear: both;
}
/** button **/
.btn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	outline: none;
	padding: 5px 15px;
	position: relative;
	z-index: 2;
	background-color: #fff;
	border: 2px solid #333;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn:hover {
	background: #333;
	color: #fff;
	transition: .3s;
	border: 2px solid #333;
}
.btn span {
	line-height: 20px;
	vertical-align: middle;
	padding-left: 5px;
}
.btn span img.icon {
	width: 17px!important;
}
@media (max-width: 767px) {
	.hidden-xs {
		display: none;
	}
}
/** 
		HEADER
					**/
header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 199;
	color: #8A42E1;
	background-color: #fff;
	text-shadow: none;
}
header .nav-container {
	height: 70px;
	position: relative;
	justify-content: space-between;
	align-items: center;
}
header svg.logo {
	fill: #8A42E1;
	height: 30px;
	width: auto;
	position: absolute;
	margin: 0;
	z-index: 99;
	left: 30px;
	top: 0;
	padding: 20px 0;
}
header h1 {
	display: none;
}
header a {
	text-decoration: none;
	color: unset;
}
header nav {
	position: absolute;
	right: 30px;
	top: 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	line-height: 70px;
	display: inline-block;
	margin-right: 25px;
	font-size: 18px;
}
header #toggle {
	display: none;
}
header #toggle img {
	position: absolute;
	top: 20px;
	right: 30px;
}
@media (max-width: 440px) {
	header nav ul li {
		width: 100%;
		font-size: 30px;
		line-height: 2em;
	}
}
@media (max-width: 767px) {
	header .container {
		width: 100%!important;
		max-width: none;
	}
	header img.logo {
		z-index: 199;
	}
	header nav {
		height: 100vh;
		width: 100vw;
		left: 0;
		padding-top: 80px;
		padding-left: 30px;
		background-color: rgba(255,255,255,0.8);
		display: none;
	}
	header nav.active {
		display: block;
	}
	header nav ul li {
		width: 100%;
		font-size: 40px;
	}
	header nav ul li a {
		position: relative;
	}
	header nav ul li a:hover:after {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 4px;
		border-bottom: 5px solid #8A42E1;
		content: "";
	}
	header #toggle {
		display: block;
		float: right;
	}
}
@media (min-width: 768px) and (max-width: 800px) {
	header nav ul li {
		font-size: 16px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	header .container {
		max-width: none;
	}
	header nav ul li {
		margin-right: 10px;
	}
}
@media (min-width: 768px) {
	header nav ul li a {
		transition: .3s opacity;
		opacity: 1;
	}
	header nav ul li a:hover {
		transition: .3s opacity;
		opacity: 0.6;
	}
}
/**
		footer 
					**/
footer {
	background-color: #313743;
	height: 160px;
	position: relative;
}
footer span {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #fff;
	opacity: 0.5;
	font-weight: normal;
}
footer ul {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 10px;
}
footer ul li {
	display: inline-block;
	margin-right: 5px;
}
footer ul li a {
	font-weight: normal;
	color: #fff!important;
	opacity: 0.8;
	transition: 0.3s opacity;
}
footer ul li a:hover {
	opacity: 0.5;
	transition: 0.3s opacity;
}