/**
	common settings 
					**/
html, body {
	padding:0;
	margin:0;
}
body {
	font-family: Avenir, "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "Yu Gothic Bold", "游ゴシック Bold", YuGothic, "游ゴシック体", "メイリオ", "Meiryo", sans-serif;
	font-weight: bold!important;
	color: #313743;
}
h1 {
	font-size: 40px;
	display: inline-block;
}
h2 {
	font-size: 30px;
}
p {
	font-size: 20px;
	letter-spacing: 0em;
    line-height: 1.5em;
    text-align: justify;
}
@media (max-width: 575px) {
	p {
		letter-spacing: 0em;
	    text-align: left;
	}
}
a {
	text-decoration: none;
	color: initial;
}
.lead {
	width: 100%;
}
.lead h2 {
	display: inline-block;
	padding-left: 7px;
	line-height: 1em;
}
.lead.blue h2 {
	background: linear-gradient(transparent 60%, #10CBCE 0%);
}
.lead.orange h2 {
	background: linear-gradient(transparent 60%, #FFBA00 0%);
}
.lead.green h2 {
	background: linear-gradient(transparent 60%, #1AD790 0%);
}

.container {
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
@media (min-width: 576px) {
	.container {
		padding: 0 30px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
.clear,
.column-container {
	clear: both;
}
.btn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	outline: none;
	padding: 5px 15px;
	position: relative;
	z-index: 2;
	background-color: #fff;
	border: 2px solid #333;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn:hover {
	background: #333;
	color: #fff;
	transition: .3s;
	border: 2px solid #333;
}
.btn span {
	line-height: 20px;
	vertical-align: middle;
	padding-left: 5px;
}
.btn span img.icon {
	width: 17px!important;
}
@media (max-width: 767px) {
	.hidden-xs {
		display: none;
	}
}
/** 
		#product
					**/
section.box-content {
	margin-top: 100px;
}
section.box-content .row {
	display: flex;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 100px;
	
}
section.box-content .row .box {
	width: 50%;
}
section.box-content .row .box:first-child {
	padding-right: 15px;
}
section.box-content .row .box:last-child {
	padding-left: 15px;
}

section.box-content .box.text {
	display: flex;
	align-items: center;
}
section.box-content .box.photo img {
	max-width: 800px;
	width: 100%;
	border-radius: 20px;
	width: 100%;
	height: 100%;
}
section.box-content .row .box.text p {
	margin-top: 0;
}
@media (max-width: 767px) {
	section.box-content .row {
		display: block;
		position: relative;
		clear: both;
	}
	section.box-content .row .box.photo {
		width: 55%;
		right: 0;
		top: 0;
		z-index: -9;
		position: absolute;
	}
	section.box-content .row .box.photo:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 70%;
		height: 100%;
		background-image: url(../assets/fade-l.png);
		background-size: contain;
    	background-position: right;
    	background-repeat-x: no-repeat; 
	}
	section.box-content .row .box.text {
		width: 70%;
		padding-right: 30px;
		position: relative;
	}
}
@media (max-width: 991px) {
	section.box-content .row .box.text span.hidden-xs {
		display: none;
	}
}
/** 
		HEADER
					**/
header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 199;
	color: #8A42E1;
	background-color: #fff;
	text-shadow: none;
}
header .nav-container {
	height: 70px;
	position: relative;
	justify-content: space-between;
	align-items: center;
}
header svg.logo {
	fill: #8A42E1;
	height: 30px;
	width: auto;
	position: absolute;
	margin: 0;
	z-index: 99;
	left: 30px;
	top: 0;
	padding: 20px 0;
}
header h1 {
	display: none;
}
header a {
	text-decoration: none;
	color: unset;
}
header nav {
	position: absolute;
	right: 30px;
	top: 0;
}
header ul {
	margin: 0;
	padding: 0;
}
header ul li {
	line-height: 70px;
    display: inline-block;
    margin-right: 25px;
}
header #toggle {
	display: none;
}
header #toggle img {
	position: absolute;
	top: 20px;
	right: 30px;
}
header #toggle .im {
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 30px;
}
@media (min-width: 768px) {
	header nav ul li a {
		transition: .3s opacity;
		opacity: 1;
	}
	header nav ul li a:hover {
		transition: .3s opacity;
		opacity: 0.6;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	header .container {
	    max-width: none;
	}
	header ul li {
		margin-right: 10px;
	}
}
@media (max-width: 767px) {
	header .container {
		width: 100%!important;
		max-width: none;
	}
	header img.logo {
		z-index: 199;
	}
	header nav {
		height: 100vh;
		width: 100vw;
		left: 0;
		padding-top: 80px;
		padding-left: 30px;
		background-color: rgba(255,255,255,0.8);
		display: none;
	}
	header nav.active {
		display: block;
	}
	header nav ul li {
		width: 100%;
		font-size: 40px;
	}
	header nav ul li a {
		position: relative;
	}
	header nav ul li a:hover:after {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 4px;
		border-bottom: 5px solid #8A42E1;
		content: "";
	}
	header #toggle {
		display: block;
		float: right;
	}
}
@media (max-width: 440px) {
	header nav ul li {
		width: 100%;
		font-size: 30px;
		line-height: 2em;
	}
}

/** 
		#top
					**/
section#top {
	height: 60vh;
	margin-top: 70px;
	position: relative;
	background-image: url(../assets/top-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
section#top img {
	display: none;
    width: 100%;
    height: auto;
}
section#top .text-container {
	color: #FF4A7A;
	text-shadow: 0px 0px 7px #ffffff8f;
	position: absolute;
	width: 50%;
	max-width: 600px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
section#top .text-container p {
	margin-top: 0;
}
@media (max-width: 767px) {
	section#top .text-container {
		width: unset;
		box-sizing: border-box;
	}
}
/**
	Slider
			**/
section#product .row#wcd {
	margin-bottom: 0;
}
section#product .slider-container {
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;	
}
section#product .slider-container .fade {
	display: none;
}
section#product .slider .slick-slide .circle {
	opacity: 0.7;
	transform: scale(0.9);
	transition: all 300ms ease;
}
section#product .slider .slick-center .circle {
	opacity: 1;
	transform: scale(1.08);
}
section#product .slider button {
	display: none!important;
}
section#product .slider .circle-container {
	padding: 20px 10px;
}
section#product .slider .circle-container:focus {
	outline: 0;
}
section#product .slider .circle-container .circle {
	height: 100%;
	width: 100%;
	border-radius: 50%;
    background-position: center center;
    background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
section#product .slider .circle-container .circle:after {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	content: "";
	z-index: 9;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.slider .circle-container .circle span {
	z-index: 99;
	position: absolute;
	text-align: center;
}
@media (min-width: 1200px) {
	section#product .slider-container {
		max-width: 1140px;
	}
}
@media (min-width: 576px) {
	section#product .slider-container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	section#product .slider-container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	section#product .slider-container {
		max-width: 960px;
		position: relative;
	}
	section#product .slider-container .fade {
		position: absolute;
		height: 100%;
		width: 50px;
		top: 0;
		z-index: 99;
		background-size: contain;
		display: block;
	}
	section#product .slider-container .fade.left {
		left: 0;
		background-image: url(../assets/fade-l.png);
	}
	section#product .slider-container .fade.right {
		right: 0;
		background-image: url(../assets/fade-r.png);
	}
}
@media (min-width: 1200px) {
	section#product .slider-container {
		max-width: 1140px;
	}
}



/**
		#getstart 
					**/

section#getstart {
	text-align: center;
	color: #FF4A7A;
	position: relative;
	background-image: url(../assets/learn-prog.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;
}

section#getstart .container {
	z-index: 19;
	position: relative;
}
section#getstart .container .text-container {
	margin: 0 auto;
	text-shadow: 0px 0px 7px #ffffff8f;
	text-align: center;
}
section#getstart h1 {
	margin-bottom: 0;
}
section#getstart .overray{
	z-index: 9;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	background-color: rgba(255,255,255,0.8);
}

section#getstart form {
	width: 100%;
	font-family: Avenir, "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "Yu Gothic Bold", "游ゴシック Bold", YuGothic, "游ゴシック体", "メイリオ", "Meiryo", sans-serif!important;
	box-sizing: border-box;
	margin: 0 auto;
    padding: 20px 60px 60px 60px;
    background: #fff;
    border-radius: 10px;
    font-family: initial;
    box-shadow: 0px 0px 15px #00000021;
}
section#getstart form p {
	text-align: center;
}
section#getstart label {
    display: block;
    font-size: 15px;
	text-align: left;
}
section#getstart select {
	color: #757575;
}
section#getstart input, select {
    font-size: 20px;
    padding: 0 10px;
    height: 50px;
    margin-bottom: 15px;
    font-weight: bold;
	font-family: inherit;
	border: 1px solid #fff;
    background: #efefef;
}
section#getstart input, select, label {
	width: 100%;
    border-radius: 0;
	box-sizing: border-box;
}
section#getstart input:focus, select:focus {
    border: 1px solid #313743;
    outline: 0;
}
span.last_name {
	padding-right: 10px;
}
span.last_name, span.first_name {
	width: 50%;
	box-sizing: border-box;
	float: left;
}
section#getstart input[type="submit"] {
	display: inline-block;
	width: 100%;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	padding: 10px 40px;
	background: #fff;
	color: #313743;
    font-weight: bold;
    font-family: inherit;
	line-height: 1em;
	transition: .3s;
	border: 2px solid #313743;
}
section#getstart input[type="submit"]:hover {
	background: #313743;
	color: #fff;
	transition: .3s;
	border: 2px solid #313743;
}
section#getstart span {
	font-size: 11px;
	color: #313743;
	font-weight: normal;
}
section#getstart span a {
	text-decoration: underline;
}
@media (min-width: 992px) {
	section#getstart .container {
		width: 70%;
	}
}
@media (min-width: 1700px) {
	section#getstart .container .text-container {
		width: 70%;
	}
}
@media (min-width: 1200px) {
	section#getstart form {
		width: 75%;
	}
}
@media (max-width: 767px) {
	section#getstart {
		padding: 30px 0;
	}
}
/**
		footer 
					**/
footer {
	background-color: #313743;
	height: 160px;
	position: relative;
}
footer span {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #fff;
	opacity: 0.5;
	font-weight: normal;
}
footer ul {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 10px;
}
footer ul li {
    display: inline-block;
    margin-right: 5px;
}
footer ul li a {
	font-weight: normal;
	color: #fff!important;
	opacity: 0.8;
	transition: 0.3s opacity;
}
footer ul li a:hover {
	opacity: 0.5;
	transition: 0.3s opacity;
}
/**
	  Completed Modal
						**/
#completed {
	display: none;
	width: 100vw;
	height: 100vh;
	z-index: 99;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: none;
    position: fixed;
    background-color: rgba(255,255,255,0.7);
}
#completed.active {
	display: flex;
}
#completed svg {
	width: 15%;
	min-width: 300px;
	height: auto;
	color: #000;
}
#completed p {
	margin-top: 0;
	margin-bottom: 15px;
    text-align: center;
    line-height: 1.2em;
}
#completed button {
	z-index: 100;
	background: #000;
	border: 0;
	border-radius: 3px;
	bottom: 100px;
	color: #fff;
	left: 50%;
	outline: 0;
	padding: 10px 30px;
	position: absolute;
	-webkit-transform: translateX(-50%);
	      transform: translateX(-50%);
	transition: .3s opacity;
}
#completed button:active, button:hover {
	opacity: 0.7;
	transition: .3s opacity;
}
#successAnimationResult {
    fill: green!important;
}
#successAnimationCheck {
    stroke: green!important;
}
#successAnimationCircle {
	stroke: green!important;
}
@-webkit-keyframes scaleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#successAnimationCircle {
  stroke-dasharray: 151px 151px;
  stroke: #fff;
}
#successAnimationCheck {
  stroke-dasharray: 36px 36px;
  stroke: #fff;
}
#successAnimationResult {
  fill: #fff;
  opacity: 0;
}
#successAnimation.animated {
  -webkit-animation: 1s ease-out 0s 1 both scaleAnimation;
          animation: 1s ease-out 0s 1 both scaleAnimation;
}
#successAnimation.animated #successAnimationCircle {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
          animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationCheck {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
          animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationResult {
  -webkit-animation: 0.3s linear 0.9s both fadeIn;
          animation: 0.3s linear 0.9s both fadeIn;
}