/** H2 TAG **/
.lead {
	width: 100%;
	margin-bottom: 15px;
}
.lead h2 {
	display: inline;
	position: relative;
	padding: 0 5px 0 3px;
}
.lead h2:after {
	content: "";
	width: 100%;
	position: absolute;
	left: 0;
	height: 35px;
	z-index: -9;
	top: 3px;
}
.lead.blue h2:after {
	background: linear-gradient(transparent 60%, #10CBCE 0%);
}
.lead.orange h2:after {
	background: linear-gradient(transparent 60%, #FFBA00 0%);
}
.lead.green h2:after {
	background: linear-gradient(transparent 60%, #1AD790 0%);
}
.lead h2 br {
	display: none;
}
@media (max-width: 767px) {
	.lead h2 {
		padding: 0 0 0 5px;
	}
	.lead h2:after {
		height: 40px;
		top: 8px;
	}
	#wcd .lead h2 br {
		display: block;
	}
	#wcd .lead h2 span {
		position: relative;
		padding-left: 6px;
	}
	#wcd .lead h2 span:after {
		background: linear-gradient(transparent 70%, #10CBCE 0%);
		content: "";
		width: 100%;
		position: absolute;
		left: 0;
		height: 57px;
		z-index: -9;
	}
	#wcd .lead h2:after {
		display: none;
	}
}
@media (max-width: 450px) {
	.lead h2:after {
		display: none;
	}
	.lead h2 br {
		display: block;
	}
	.lead h2 span {
		position: relative;
		padding-left: 6px;
	}
	.lead h2 span:after {
		background: linear-gradient(transparent 70%, #10CBCE 0%);
		content: "";
		width: 100%;
		position: absolute;
		left: 0;
		height: 57px;
		z-index: -9;
	}
	.lead.blue h2 span:after {
		background: linear-gradient(transparent 60%, #10CBCE 0%);
	}
	.lead.orange h2 span:after {
		background: linear-gradient(transparent 60%, #FFBA00 0%);
	}
	.lead.green h2 span:after {
		background: linear-gradient(transparent 60%, #1AD790 0%);
	}
}
/**
	#top & #message
					**/
section#top {
	margin-top: 70px;
	position: relative;
}
section#message {
	display: none;
}
section#top img.top-bg {
	width: 100%;
}
section#top .text-container {
	position: absolute;
	width: 50%;
	max-width: 600px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
section#top .text-container h1,
section#top .text-container p,
section#message h1,
section#message p {
	color: #FF4A7A;
	text-shadow: 0px 0px 7px #ffffff8f;
}
section#top .text-container p {
	margin-top: 0;
}
@media (max-width: 767px) {
	section#top {
		height: 70vh;
		position: relative;
		background-image: url(../assets/top-bg.jpg);
		background-position-y: top;
		background-position: 80%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	section#message {
		display: block;
		background: #efefef;
		padding-bottom: 40px;
	}
	section#top .top-bg {
		display: none;
	}
	section#top .container {
		display: none;
	}
}
@media (min-width: 1200px) {
	section#top {
		height: 70vh;
		position: relative;
		background-image: url(../assets/top-bg.jpg);
		background-position: 80%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: top;
	}
	section#top .top-bg {
		display: none;
	}
}
/**
		#product
					**/
section.box-content {
	margin-top: 100px;
}
section.box-content .row {
	display: flex;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 100px;
}
section.box-content .row .box {
	width: 50%;
}
section.box-content .row .box:first-child {
	padding-right: 15px;
}
section.box-content .row .box:last-child {
	padding-left: 15px;
}
section.box-content .row .box.text {
	display: flex;
	align-items: center;
}
section.box-content .row .box.photo img {
	max-width: 800px;
	width: 100%;
	border-radius: 20px;
	width: 100%;
	height: 100%;
}
section.box-content .row .box.text p {
	margin-top: 0;
}
@media (max-width: 767px) {
	section.box-content .row {
		flex-direction: column;
	}
	section.box-content .row .box.photo {
		width: 100%;
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}
	section.box-content .row .box.text {
		width: 100%;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
	section.box-content .row .box:first-child {
		padding-right: 0;
	}
	section.box-content .row .box:last-child {
		padding-left: 0;
	}
}
@media (max-width: 991px) {
	section.box-content .row .box.text span.hidden-xs {
		display: none;
	}
}
/**
	Slider
			**/
section#product #wcd {
	margin-bottom: 0;
}
section#product .slider-container {
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}
section#product .slider-container .fade {
	display: none;
}
section#product .slider .slick-slide .circle {
	opacity: 0.7;
	transform: scale(0.9);
	transition: all 300ms ease;
}
section#product .slider .slick-center .circle {
	opacity: 1;
	transform: scale(1.08);
}
section#product .slider button {
	display: none!important;
}
section#product .slider .circle-container {
	padding: 20px 10px;
}
section#product .slider .circle-container:focus {
	outline: 0;
}
section#product .slider .circle-container .circle {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
section#product .slider .circle-container .circle:after {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	content: "";
	z-index: 9;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
section#product .slider .circle-container .circle span {
	z-index: 99;
	position: absolute;
	text-align: center;
}
@media (min-width: 576px) {
	section#product .slider-container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	section#product .slider-container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	section#product .slider-container {
		max-width: 960px;
		position: relative;
	}
	section#product .slider-container .fade {
		position: absolute;
		height: 100%;
		width: 50px;
		top: 0;
		z-index: 99;
		background-size: contain;
		display: block;
	}
	section#product .slider-container .fade.left {
		left: 0;
		background-image: url(../assets/fade-l.png);
	}
	section#product .slider-container .fade.right {
		right: 0;
		background-image: url(../assets/fade-r.png);
	}
}
@media (min-width: 1200px) {
	section#product .slider-container {
		max-width: 1140px;
	}
}
/**
		#getstart
					**/
section#getstart {
	text-align: center;
	color: #FF4A7A;
	position: relative;
	background-image: url(../assets/learn-prog.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;
}
section#getstart .container {
	z-index: 19;
	position: relative;
}
section#getstart .container .text-container {
	margin: 0 auto;
	text-shadow: 0px 0px 7px #ffffff8f;
	text-align: center;
}
section#getstart h1 {
	margin-bottom: 0;
}
section#getstart .overray{
	z-index: 9;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	background-color: rgba(255,255,255,0.8);
}
section#getstart form {
	width: 100%;
	font-family: Avenir, "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "Yu Gothic Bold", "游ゴシック Bold", YuGothic, "游ゴシック体", "メイリオ", "Meiryo", sans-serif!important;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 20px 60px 60px 60px;
	background: #fff;
	border-radius: 10px;
	font-family: initial;
	box-shadow: 0px 0px 15px #00000021;
}
section#getstart form h2 br {
	display: none;
}
section#getstart form p {
	text-align: center;
}
section#getstart input, select, label {
	width: 100%;
	border-radius: 0;
	box-sizing: border-box;
}
section#getstart input, select {
	font-size: 20px;
	padding: 0 10px;
	height: 50px;
	margin-bottom: 15px;
	font-weight: bold;
	font-family: inherit;
	border: 1px solid #fff;
	background: #efefef;
}
section#getstart label {
	display: block;
	font-size: 15px;
	text-align: left;
}
section#getstart select {
	color: #757575;
}
section#getstart input:focus, select:focus {
	border: 1px solid #313743;
	outline: 0;
}
section#getstart input::placeholder {
	color: #c1c1c1;
}
section#getstart span.last_name {
	padding-right: 10px;
}
section#getstart span.last_name, span.first_name {
	width: 50%;
	box-sizing: border-box;
	float: left;
}
section#getstart input[type="submit"] {
	display: inline-block;
	width: 100%;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	padding: 10px 40px;
	background: #fff;
	color: #313743;
	font-weight: bold;
	font-family: inherit;
	line-height: 1em;
	transition: .3s;
	border: 2px solid #313743;
}
section#getstart input[type="submit"]:hover {
	background: #313743;
	color: #fff;
	transition: .3s;
	border: 2px solid #313743;
}
section#getstart span {
	font-size: 11px;
	color: #313743;
	font-weight: normal;
}
section#getstart span a {
	text-decoration: underline;
}
@media (max-width: 767px) {
	section#getstart {
		padding: 30px 0;
	}
	section#getstart form {
		padding: 30px;
	}
	section#getstart form h2 {
		font-size: 30px;
	}
	section#getstart form h2 br {
		display: block;
	}
}
@media (min-width: 992px) {
	section#getstart .container {
		width: 70%;
	}
}
@media (min-width: 1200px) {
	section#getstart form {
		width: 75%;
	}
}
.g-recaptcha {
	text-align: center;
	margin-top: 16px;
}
.g-recaptcha > div {
	margin: 0 auto;
}
/**
	  Completed Modal
						**/
#completed {
	display: none;
	width: 100vw;
	height: 100vh;
	z-index: 99;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: none;
	position: fixed;
	background-color: rgba(255,255,255,0.7);
}
#completed.active {
	display: flex;
}
#completed svg {
	width: 15%;
	min-width: 300px;
	height: auto;
	color: #000;
}
#completed p {
	margin-top: 0;
	margin-bottom: 15px;
	text-align: center;
	line-height: 1.2em;
}
#completed button {
	z-index: 100;
	background: #000;
	border: 0;
	border-radius: 3px;
	bottom: 100px;
	color: #fff;
	left: 50%;
	outline: 0;
	padding: 10px 30px;
	position: absolute;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	transition: .3s opacity;
}
#completed button:active, button:hover {
	opacity: 0.7;
	transition: .3s opacity;
}
#successAnimationResult {
	fill: green!important;
}
#successAnimationCheck {
	stroke: green!important;
}
#successAnimationCircle {
	stroke: green!important;
}
@-webkit-keyframes scaleAnimation {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scaleAnimation {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-webkit-keyframes drawCircle {
	0% {
		stroke-dashoffset: 151px;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes drawCircle {
	0% {
		stroke-dashoffset: 151px;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes drawCheck {
	0% {
		stroke-dashoffset: 36px;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes drawCheck {
	0% {
		stroke-dashoffset: 36px;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#successAnimationCircle {
	stroke-dasharray: 151px 151px;
	stroke: #fff;
}
#successAnimationCheck {
	stroke-dasharray: 36px 36px;
	stroke: #fff;
}
#successAnimationResult {
	fill: #fff;
	opacity: 0;
}
#successAnimation.animated {
	-webkit-animation: 1s ease-out 0s 1 both scaleAnimation;
			animation: 1s ease-out 0s 1 both scaleAnimation;
}
#successAnimation.animated #successAnimationCircle {
	-webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
			animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationCheck {
	-webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
			animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationResult {
	-webkit-animation: 0.3s linear 0.9s both fadeIn;
			animation: 0.3s linear 0.9s both fadeIn;
}